html {
    font-family: Verdana,Geneva,sans-serif;
    color: #222;
    font-size: 0.8em;
    line-height: 1.4;
}

a {
    color: #0086BD;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

body {
    margin: 1em;
}

.menu {
    padding: 0;
}
.menu li {
    display: inline-block;
    margin-right: 1em;
}
.menu a {
    color: black;
    padding: 0.5em;
}
.menu li.is-active a {
    background-color: #C5EEFF;
}

#city-wrapper {
    display: none;
}
label {
    display: block;
}
label.is-required:after {
    content: "*";
    color: red;
}
form > div {
    margin: 0.2em 0;
}
form .help {
    font-size: 0.8em;
}
input,
select {
    padding: 0.2em;
}
button {
    padding: 0.5em;
    cursor: pointer;
}
input.is-error,
select.is-error,
textarea.is-error {
    border: 3px solid red;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
    border: 1px solid #B3D4E2;
    padding: 0.2em 0.8em;
}
